@charset "utf-8";
/* CSS Document */
*{
	margin: 0;
	padding: 0;
}
@font-face{
	src: url(Sacramento-Regular.ttf);
	font-family:text;
}
@font-face{
	src: url(PortHarcourtFree.ttf);
	font-family:title;
}
#wrapper{
	width: 100%;
	background:#F3F9FB;
	margin: 0 auto;
}
.header{
	width: 100%;
	height: 200px;
	background: #F3F9FB;
	margin: 0 auto;
	padding: 10px;
	position: relative;
	display: flex;
	justify-content:space-around;
	
}
.home{
	width: 20%;
	height: 300px;
	background: #F3F9FB;
	float: left;
	
	
}
.home a {
	font-family:Title;
	font-size: 50px;
	color: #113F67;
	list-style-type: none;
	text-align: center;
}
.home a img{
	width: 40px;
}
.logo{
	width:50%;
	height:300px;
	background: #F3F9FB;
	align-items: center;
  	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	flex-direction: column;
}
.faces{
	width: 300px;
	text-align: center;
	display: flex;
	justify-content: space-between;
	margin-top: 60px
}
.blue_face{
	animation-name: run;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.orange_face{
	animation-name: run;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
.yellow_face{
	animation-name: run;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes run{
	from{transform: rotate(0)}
	to{transform: rotate(360deg)}
}
.blue_face{
	width: 50px;
	height: 50px;

}
.yellow_face{
	width: 50px;
	height: 50px;

}
.orange_face{
	width: 50px;
	height: 50px;
}
.title_image{
	width: 100%;
	background: #F3F9FB;
	text-align: center;
}
.title_image img{
	width: 200px;
	
}
	

.title_menu{
	width: 100%;
	list-style-type: none;
	font-family: title;
	display: flex;
	justify-content: space-between;
}
.title_menu ul{
	list-style-type: none;
}
.title_menu ul li{
	float: left;
	margin-left: 115px;
	font-size: 30px;
	text-align: center;
	color: #113F67;
	font-weight:bold;
}
.title_menu ul li a{
	color: #113F67;
	text-decoration: none;
}
.about{
	width: 20%;
	height: 300px;
	background: #F3F9FB;
	float: right;
	right: 10px;
	display: flex;
	justify-content: flex-end;
	align-content:center;
}
.about a img{
	width: 40px;
}
.main{
	width: 100%;
	background: #F3F9FB;
	margin: 200 auto;
}
.section1{
	width: 100%;
	height: 700px;
	background:#96D5C2;
	margin: 200px auto;
	position: relative;
}
.welcome{
	width: 50%;
	height: 300px;
	float: left;
	display: inline-block;
	text-align: center;
}
.welcome p{
	font-family: text;
	font-size: 100px;
	text-align: center;
	color: #113F67;
	opacity: 1;
	transform: scale(1);
	transition: all 1s ease-in-out 0.2s;
}
.welcome:hover p{
	opacity: 1;
	transform: scale(0);
	transition: all 1s ease-in-out 0.1s;
}
.section1_right{
	width: 40%;
	height: 400px;
	float: left;
	position: relative;
}
.img{
	width: 100%;
	overflow: hidden;
	z-index: 2;
}
.img img:hover{
	opacity: 0.1;
}
.img img{
	width: 555px;
}
.section1_text{
	width: 500px;
	height: 313px;
	position: absolute;
	top: 200px;
	left: 40px;
	display: flex;
	justify-content: space-around;
	z-index: 3;
	opacity: 0;
}
.section1_right:hover .section1_text{
	opacity: 1;
}
.text1{
	width: 30%;
	float: left;
	position: relative;
	
}
.text1 p{
	font-family: text;
	text-align: left;
	font-size: 40px;
	
}
.text2{
	width: 80%;
	float: left;
	position: relative;
}
.text2 p{
	font-family: text;
	text-align: left;
	font-size: 40px;
}

.section2{
	width: 100%;
	background: #F3F9FB;
	margin: 200px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	position: relative;
}
.illustration{
	width: 100%;
	font-family: title;
	font-size: 120px;
	letter-spacing: 30px;
	color:#113F67;
	z-index: 100;
	text-align: center;
	margin-top: 50px;
	position: relative;
}
.illustration{
	animation-name: color;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes color{
	0%{
		color: #113F67;
	}
	50%{ color: #136CAF;}
	100%{
		color:#88CFC2;
	}
}

.intro_porfolio{
	width: 50%;
	height: 300px;
	margin-top: 30px;
	font-family: text;
	color: #113F67;
	font-size: 40px;
	text-align: center;
}
.artworks{
	width: 80%;
	position: relative;
	left: 300px;
}
.i1{
	width: 250px;
}
.i2{
	width: 258px;
}
.c2{
	position: absolute;
	left: 560px;
	top: 750px;
}
.c3{
	position: absolute;
	left: 560px;
	top: 900px;
}
.c4{
	position: absolute;
	left: 560px;
	top: 1600px;
}
.c5{
	position: absolute;
	left: 560px;
	top: 1300px;
}

.section3{
	width: 100%;
	height: 1570px;
	background:#96D5C2;
	margin: 200px auto;
	position: relative;
}
.content_section3{
	width: 100%;
	height: 400px;
	background:#96D5C2;
	margin: 0 auto;
	margin-top: 50px;
	
}
.text_section3{
	width: 50%;
	height: 300px;
	margin-top: 30px;
	font-family: text;
	color: #113F67;
	font-size: 40px;
	text-align: center;
	margin-left: 320px
}
.s3_i1{
	width: 45%;
	float: left;
	z-index: 99;
	
}
.s3_i1 img{
	width: 700px;
	
}
.s3_mediumi{
	width: 50%;
	height: 400px;
	position: relative;
	left: 707px;
}
.i7{
	width: 286px;
}
.i8{
	width: 375px;
}

.photoshoot{
	width: 50%;
	height: 200px;
	float: left;
	position: relative;
	
}
.small_i{
	width: 100%;
	height: 300px;
}

.s3_i2{
	width: 200px;
	float: left;
	position: relative;
	left: 50px;
}
.s3_i5{
	width: 200px;
	position: relative;
	left: 35px;
	top: 4px;
}
.s3_i6{
	width: 225px;
	position: relative;
	left: 37px;
	top: 4px;
}
.medium_i{
	width: 100%;
	height: 200px;
	position: relative;
	left: 50px;
	top: 242px;
	
}
.medium_i img{
	width: 600px;

}
.section4{
	width: 100%;
	height: 1400px;
	background: #F3F9FB;
	position: relative;
}
.content_branding{
	width: 100%
}
.branding{
	width: 100%;
}
.brand1{
	width: 100%;
	margin: 100px 0;
}
.brand1_left{
	width: 40%;
	height: 200px;
	float: left;
	position: relative;
	left: 100px;
	top: 200px;
}
.brand1_left h1{
	font-family: title;
	font-size: 40px;
	color: #113F67;
	position: relative;
	left: 50px;
}
.brand1_left hr{
	width:250px;
	margin-top: 10px;

}
.brand1_left h2{
	font-family: text;
	font-size: 50px;
	color:#406F9A;
	
}
.brand1_right{
	width: 60%;
	height: 300px;
	float: left;
}
.brand1_right img{
	width: 700px;
}
.wine{
	margin-top: 20px;
}
.brand2{
	width: 100%;
	height: 500px;
}
.section5{
	width: 100%;
	background: #96D5C2;
}
.layout{
	width: 100%;
	display: flex;
	justify-content: center;
}
.layout_background{
	width: 90%;
	height: 700px;
	background: rgba(213,238,230,1.00);
	position:relative;
	bottom: 50px;
}
.layout1{
	width: 39%;
	text-align: center;
	float: left;
	position: relative;
	left: 50px;
	top: 20px;
	overflow: hidden;
}
.layout1_i{
	width: 500px;
	overfow: hidden;
}
.layout1_i:hover{
	background:rgba(242,233,231,0.5);
}
.layout1_i img{
	width: 500px;
}
.layout1_i p{
	font-family: text;
	text-align: left;
	font-size: 30px;
	margin-top: 50px;
}
.layout1_text{
	width: 500px;
	height: 313px;
	position: absolute;
	top: 0;
	opacity:0;
	background: rgba(138,221,209,0.8);
}
.layout1_text p{
	font-family: text;
	font-size: 40px;
	color:navy;
	text-align: center;
	position: relative;
	top: 100px;
}
.layout1:hover .layout1_text{
	opacity: 1;
}
.layout2{
	width: 50%;
	float: left;
	position: relative;
	left: 100px;
	top: 20px;
}
.layout2_i{
	width: 100%;
	float: left;
	position: relative;
}
.bia{
	width: 600px;
}
.trang15{
	width: 300px;
	left: 100px;
}
.contenti{
	width: 267px;
	left:100px;
}
.layout2_text{
	width: 100%;
}
.layout2_text p{
	font-family: text;
	font-size: 20px;
}
.footer{
	width: 100%;
	height: 300px;
	background:#F3F9FB;
	margin: 50px auto;
	position: relative;
	box-sizing: border-box;
	
	
	
}
.footer_logo{
	width: 100%;
	margin-top: 20px;
	position: relative;
	left: 625px;
}
.footer_logo img{
	width: 130px;
	text-align: center;
}
.footer_text{
	width: 100%;
	height: 50px;
	margin-top: 40px;
	position: relative;
	left: 560px;
}
.footer_text p{
	font-family: title;
	font-weight: 300;
	font-size: 30px;
}
.social{
	width: 10%;
	background:#F3F9FB;
	height: 100px;
	position: relative;
	left: 620px;
	text-align: center;
	display: flex;
	justify-content: space-between;
}
.icon_G{
	width: 30px;
	height: 30px;
	position: absolute;
	top: 5px;
}
.icon_insta{
	width: 40px;
	height: 40px;
	position: absolute;
	left: 90px;
}